.app {
    text-align: center;
}

.appLogo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.appHeader {
    margin-bottom: 1rem;
    background-color: #5aed88;
    height: 20vw;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appTitle {
    font-size: 2em;
}

.appIntro {
    font-size: large;
}

@keyframes appLogo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
}

/* Paste this to other file */

.date {
    font-size: .5rem;
}

.container {
    all:unset;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vw;
    padding: 1rem 1rem 1rem 1rem;   
    margin: 0 1rem 1rem 1rem;
    flex: 0 0 calc(100%/2 - 2rem); 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.container:hover {
    cursor:pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.price {
    font-weight: 600;
}

.name {
    margin-bottom: 1rem;
}


@media (min-width: 767px) {
    .appHeader {
        margin-bottom: 2rem;
        
    }

    .container {
        height: auto;
        padding: 1rem 1rem 1rem 1rem;
        margin: 0 2rem 2rem 2rem;
        flex: 0 0 calc(100%/3 - 4rem);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
}



