.app {
    text-align: center;
}

.appLogo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.appHeader {
    background-color: #5aed88;
    height: 20vw;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appTitle {
    font-size: 1.5em;
}

.appIntro {
    font-size: large;
}

@keyframes appLogo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
}


.container {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vw;
    padding: 1rem 0 1rem 0;   
    margin: 0 1rem 1rem 1rem;
    flex: 0 0 calc(100%/2 - 2rem); 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.price {
    font-weight: 600;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (min-width: 767px) {

    .container {
        
        height: auto;
        padding: 1rem 0 1rem 0;
        margin: 0 1rem 1rem 1rem;
        flex: 0 0 calc(100%/3 - 2rem);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
}



