.app {
    text-align: center;
}

.appLogo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.appHeader {
    background-color: #5aed88;
    height: 20vw;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appTitle {
    font-size: 1.5em;
}

.appIntro {
    font-size: large;
}

@keyframes appLogo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
}





